:root{
    --bg-color-padrao: rgb(182, 177, 177);
}
*{    
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;        
}
input{
    text-transform: uppercase;
    width: 98%;
    font-size: 18px;     
}
body{
    display: flex;
    justify-content: center;
    margin: 20px;
}
main{
    display: grid;
}
table{
    border: 2px solid;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.controle-geral{   
    width: 850px;
    height: 850px;
    border: 2px solid;    
}
.nome-empresa{
    margin: 20px;
    text-align: center;    
}
#n-os{
    text-align: end;
    margin-right: 5px;
    align-self: center;
}
.dados-so {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    font-size: 20px;
    background-color: var(--bg-color-padrao) ;    
}   
#os{   
    background-color: var(--bg-color-padrao);
}
#email{
    text-transform: lowercase;
}
.campo-descricao{
    text-align: center;
    background-color: var(--bg-color-padrao);
    font-size: 20px;
    font-weight: 600;   
}
.informacoes-adicionais{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    padding: 10px;
}
.campo-valores{
    font-size: 17px;        
}
#report-cliente, #report-oficina{
    padding: 10px;   
}
.autenticacao{
    margin-left: 20px;
    margin-right: 20px;

    padding-top: 25px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    justify-content: center;
    align-items: center;
}
.btn-apagar{  
    border-radius: 25px;      
    background-color: rgb(245, 118, 118); 

}
.btn-apagar h4{
    border-radius: 25px;
    padding: 10px;
}
.btn-apagar :hover{
    transition: 0.5s;
    background-color: red;
}
.btn-enviar{
    border-radius: 25px;
    background-color: rgb(115, 115, 255);    
}
.btn-enviar h4{
    border-radius: 25px;
    padding: 10px;
}
.btn-enviar :hover{
    transition: 0.5;
    background-color: rgb(0, 213, 255);
}
textarea{
    font-size: 20px;
}
@media screen and (max-width: 950px){
    
    input{
        text-transform: uppercase;           
        font-size: 16px;     
    }

    .controle-geral{   
        width: 600px;
        height: 800px;
        border: 2px solid;
        
    }
    .dados-so {        
        font-size: 16px;
        background-color: var(--bg-color-padrao) ;  
        grid-template-columns: 55% 18% 25%;
    }
    
    #report-cliente, #report-oficina{
        width: 540px;  
        height: 50px;      
    }
    .informacoes-adicionais{
        grid-template-columns: 35% 65%;
        font-size: 18px;
    }
    #n-os{
        align-self: center;
    }

}

@media screen and (max-width: 650px){
    
    .controle-geral{   
        width: 360px;
        height: 1050px;
        border: 2px solid;        
    }
    
    input{
        text-transform: uppercase;  
        width: 95%;
        font-size: 12px;     
    }
    .dados-so {        
        font-size: 14px;
        background-color: var(--bg-color-padrao) ;  
        grid-template-columns: 52% 15% 28%;
        justify-self: center;
    }
    #n-os{
        align-self: center;
    }
    .dados-all-in{
        display: grid;
        grid-template-columns: 35% 65%;        
    }
    .campo-valores{
        display: grid;
        grid-template-columns: 70% 30%;
    }    
    #report-cliente, #report-oficina{
        width: 300px;  
        height: 50px;      
    }
    .informacoes-adicionais{
        grid-template-columns: 40% 60%;
        font-size: 16px;
    }
   
    .autenticacao{
        margin-top: -10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .btn-apagar{
        margin-bottom: 10px;
    }
    .btn-enviar{
        margin-bottom: 10px;
    }
    #date{
        padding: 5px;
    }
}